* {
    margin: 0;
    padding: 0;

}

.body {
    background-color: antiquewhite;
}



.nav {
    background: linear-gradient(90deg, rgba(7, 247, 47, 1) 0%, rgba(79, 236, 10, 0.5662640056022409) 26%, rgba(20, 247, 16, 0.40940126050420167) 55%, rgba(49, 230, 12, 0.06206232492997199) 99%);

}

.container-fluid {
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#navbarSupportedContent a {
    color: rgb(27, 72, 221);
    font-family: sans-serif;

}

.navbar-brand img {
    width: 3vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.432);
}

.header img {
    width: 25vw;
    box-shadow: 1px 2px 2px 3px black;
}

.header H1 {
    font-size: 6em;
    font-family: sans-serif;
    color: rgba(10, 157, 224, 0.712);

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .main h2{
        margin-top: 20px;
       text-align: center;
    }

.main img{
    width: 20vw;
  
}

.main p{
    max-width: 850px;
    margin-top: 10px;
    font-size: 1.3em;
    margin-left: 15px;
    font-family: sans-serif;
}

.footer {  display: grid;
    background-color: black;
    grid-auto-flow: row;
    grid-template-areas:
      "contacto organizaciones"
      "contacto organizaciones";
  }
  
  .contacto { grid-area: contacto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto li{
    list-style: none;
    font-size: 2em;
}

.contacto li:hover{
    background-color: aqua;
    margin: 0 auto;
    border-radius: 10px;
}

.contacto p{
    font-size: .8em;
}

  
  .organizaciones { grid-area: organizaciones; 
}

.organizaciones li{
    list-style: none;
}

.organizaciones a{
    text-decoration: none;
    font-size: .8em;
}
  
.organizaciones p{
    color: white;
}